/*CSS applied to the whole Body*/
*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 4px;
}

/*CSS applied to the Main Container*/

.container{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*CSS applied to the child Boxes*/

.child-box1{
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    margin: 0px;
    
    
}
.child-box4,child-box2, child-box3{
    width:100%;
    height: auto;
    background-color: white;
    padding: 20px;
    margin: 0px;
}
.child-box5{
    width:100%;
    height: auto;
    background-color: white;
    padding: 20px;
    margin: 0px;
}
.child-box6{
    width:100%;
    height: auto;
    background-color: gainsboro;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

/*CSS applied to the child Box 1*/

.child-box1 label,ul,li,a{
    text-decoration: none;
    list-style-type: none;
}
.child-box1 label{
    margin-left: 30px;
    font-size: larger;
    line-height: 20px;
}
.child-box1 ul{
    float: right;
    margin-right: 30px;
}
.child-box1 ul li{
    display: inline-block; 
    margin: 0 30px; 
    line-height: 20px;
}
.child-box1 ul li a{
    letter-spacing: 4px;
    color: black;
    font-size: larger;
}
a:hover{
    background-color: gainsboro;
}

/*CSS applied to the Child Box 2*/

.img-footer h1{
    margin-bottom: 20px;
}
.child-box2 img{
    width:100%;
    height: auto;
}
.img-footer{
    position: absolute;
    top:590px;
    margin: 20px;
}
.img-footer h1{
    font-weight: lighter;
    font-size: 38px;
}

/*CSS applied to the Child Box 3*/

.child-box3 img{
    width: 500px;
    height: 500px;
    margin:40px 40px 40px 70px;
}
.page-content{
    max-width: 650px;
    float: right;
    text-align: justify;
    margin: 50px 40px 0px 40px;
}
.page-content h1{
    margin-left: 170px;
    padding: 20px;
    justify-content: center;
}
.page-content h5{
    margin-left: 205px;
    margin-right: 0px;
    font-size: large;
}
.page-content p{
    color: gray;
}

/*CSS applied to the Child Box 4*/

.menu-img{
    width: 500px;
    height: 500px;
    margin:50px 40px 40px 40px;
    float: right;
}
.menu-chart h1 {
    margin:60px 0px 0px 240px;
    padding-bottom: 30px;
}
.menu-chart h5{
   margin-left: 60px;
   font-size: large;

}
.menu-chart p{
    margin-left: 50px;
    color: grey;
    padding: 10px;
}
/*CSS applied to the child Box 5*/
.child-box5 h1{
    margin:60px 0px 0px 34px;
    padding:0px 0px 30px 30px;
}
.detail{
    margin:0px 20px 0px 34px;
    text-align: justify;
}
    
.detail p{
    padding: 30px;
    color: gray;
}
.detail h5{
    margin-left: 1px;
    padding: 30px;
    color: gray;
    font-size: large;
}
form{
    margin-left:60px;
}
form input{
    padding: 20px;
    width: 92%;
    margin: 0px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}
form button{
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.child-box6 p{
    padding: 10px;
}
.child-box6 i{
    margin: 10px;
    cursor: pointer;
}
@media(max-width:767px) {
    .container{
        max-width:100%;
        height: auto;
        display: flexbox;
        flex-wrap: wrap;
    }
    .child-box2 img{
        width:100%;
        height:auto;
    }
    .child-box3 img{
        display: none;
    }
    .child-box1 ul li{
        display: none;
    }
    .img-footer{
        display: none;
    }
    .page-content h1{
        margin-left: 125px;
        padding: 20px;
        justify-content: center;
    }
    .page-content h5{
        margin-left: 159px;
        margin-right: 0px;
        font-size: large;
    }
    .menu-img{
        width: 500px;
        height: 738px;
    }
    form input{
        padding: 20px;
        width: 85%;
    }   
}
@media (min-width:768px) and (max-width:1023px){
    .container{
        width:100%;
        height: auto;
    }
    .child-box1 ul li{
        display: none;
    }
    .img-footer{
        position: absolute;
        top:323px;
        margin: 20px;
    }
    .page-content h1{
        margin-left: 37px;
        padding: 20px;
        justify-content: center;
    }
    .page-content h5{
        margin-left: 75px;
        margin-right: 0px;
        font-size: large;
    }
    .page-content p{
        margin-right: 13px;
    }
}